/* navbar */

* {
    margin: 0;
    padding: 0;
    border: 1;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

html { 
    font-family: Helvetica;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    background: #404040;
}

nav .logo {
    color: #ffffff;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .4s;
    font-size: large;
}

nav .nav-list .nav-item:hover {
    background: #b69955;
}

nav .nav-list .nav-link {
    color: #f1f1f1;
    font-size: 18;
    font-weight: 500;
}

@media (max-width: 935px) {

    nav {
        padding: 0 2rem;
    }

    nav .nav-list .nav-item {
        padding: 0 20px;
    }
}

@media (max-width: 675px) {

    nav .nav-list {
        display: grid;
        position: absolute;
        background: #404040;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}

.navbar-input {
    display: none;
}

.navbar-input:checked ~ nav .nav-list {
    transform: translateY(0%);
    z-index: 1;
}

.navbar-input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
    margin-right: 25px;
}

.navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

.navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

.navbar-input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
}

i {
    margin-top: 29px;
}

#user-user-name {
    color: #e3f7ac;
}



/* user profile */

img.user-profile-picture {
    max-width: 20vw;
    padding: 0 0.5rem;
    border-radius: 1rem;
    float: left;
}
img.user-avatar {
    max-height: 1rem;
    border-radius: 0.5rem;
}
a.button {
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    border: 1px solid #999999;
    background-color: #eeeeee;
    border-radius: 0.5rem;
    text-decoration: none;
}
a.button:hover {
    background-color: #f8fff0;
}
.float-right {
    float: right;
}


/* box ? */

.box {
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    border: 1px solid #999999;
    border-radius: 0.5rem;
}
.box-info {
    background-color: #99ccff;
}
.box-warning {
    background-color: #ffcc99;
}
.box-error {
    background-color: #ff9999;
}
.box-success {
    background-color: #c0ffb0;
}
.box-debug {
    background-color: #eeeeee;
}
form p label {
    display: inline-block;
    min-width: 12vw;
}
label[for='id_content'] {
    display: none;
}




/* quiz form */

.question-text{
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 500;
}

.answer-label{
    margin-left: 10px;
}

.question {
    display: flex;
}
  
.question-number {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 10px;
}

.quiz-form-body {
    font-size: 120%;
}


.button-submit-quiz {
    margin-left: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: large;
}

.button-submit-quiz:hover {
    background-color: #279b2b;
    cursor: pointer;
}

.quiz-input:hover {
    cursor: pointer;
}

.hr-between-question hr {
    border-color: #ebdddd;
}

.quiz-form-name {
    margin-left: 10px;
    margin-top: 15px;
}

/* quiz rezults */

.passed-test {
    color: #104b12;
    font-weight: 600;
}

.failed-test {
    color: #a50d0d;
    font-weight: 600;
}

.results-header {
    margin-left: 10px;
    font-size: 115%;
}

.results-header h4{
    margin-top: 5px;
}

.result-title {
    margin-top: 15px;
    margin-left: 10px;
}

.results-body {
    margin-left: 15px;
    font-size: 120%;
}

.results-body p{
    margin-top: 5px;
}

.result-hr-color hr{
    border-color: #e4e7e4;
}



/* paginator */

.paginator {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.5rem;
}

.paginator a, .paginator .current {
    text-decoration: none;
    padding: 0 0.5rem;
    border: 1px solid #aacc99;
    background-color: #ebf7de;
    border-radius: 0.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}

/* footer and body*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 50px;
    line-height: 50px;
    background-color: #5c5c5c;
    margin-top: auto;
}

footer p {
    font-weight: 500;
    color: #ffffff;
}

/* search form */

form {
    padding: 0.5rem;
}

/* quiz list */

.quiz_list_container {
    margin-left: 15px;
}

.quiz_list_container p {
    font-size: 120%;
}


/* test languange but */

.language-buttons {
    display: flex;
    align-items: center;
}

.language-form {
    margin-right: 2px;
}

.language-button {
    padding: 0px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.language-button:hover {
    text-decoration: underline;
}

.language-button.active {
    font-weight: bold;
}

.language-separator {
    margin: 0 1px;
    color: #fff;
}